<div class="row">
	<div class="form_group">
		<%= semantic_form_for @ticket do |f| %>
        	<%= f.input :contracts, :as :select %>
        	<%= f.input :coments %>
        	<%= f.action :submit, :button_html => { :class => "btn form-control"} %>
        <% end %>
    </div>
</div>
