 <footer id="footerArea">
    	
        <div class="footer_top">
        	<div class="container">
                <div class="row">
                    
                    <div class="col-sm-4">
                        
                        <h4>Lorem Ipsum</h4>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>	
                        
                        <a href="#" class="btn">Read more</a>
                    
                    </div>
                    
                   
                    
                    <div class="col-sm-4">
                        
                        <div class="address">
                            
                            <h4>Lorem Ipsum</h4>
                            
                            <address><i class="fa fa-home"></i> 7747 Cozy Loop, Keen-Wik, New Hampshire<br><i class="fa fa-phone"></i> 03152-0215, US, (603) 762-0513<br><i class="fa fa-envelope"></i><a href="#">info@yoursite.com</a></address>
						
                        </div>
                                                
                    </div>
                    
                    <div class="col-sm-4">
                        
                        <div class="images">
                            
                            <h4>Lorem Ipsum</h4>
                            
                            <ul>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                                <li><a href="#"><img class="img-responsive" src="images/image_400x400.jpg" alt=""></a></li>
                            </ul>
						
                        </div>
                                                
                    </div>
                
                </div>
			
            </div>
        </div>
    	
        <div class="footer_bottom">
        	<div class="container">
                <div class="row">
                    
                    <div class="col-sm-12 text-center">
                        
                        <p>Lorem Ipsum is simply dummy text <a href="#">typesetting</a> industry.</p>
                    
                    </div>
                    
                </div>
			
            </div>
        </div>
    
    </footer>